@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@font-face {
  font-family: "font-1";
  src: url("./assets/Lobster-Regular.ttf");
}
@font-face {
  font-family: "font-2";
  src: url("./assets/Shizuru-Regular.ttf");
}
body {
  font-family: "font-1", serif;
  color: #c1eceb;
  background: url("./assets/maldives.jpg") center/cover no-repeat fixed;
  height: 500vh; /*100% de l'écran*/
  /*overflow: hidden;*/ /*suppression des marges*/
}

h1 {
  /*text-transform: uppercase;*/
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: darkblue;
  text-shadow: 5px 5px 5px rgba(14, 46, 46, 0.795); /*ombre sur le texte*/
  text-align: center;
  font-family: "Island Moments", cursive;
}

main {
  background: rgba(245, 245, 245, 0.747);
  color: black;
  width: 85%; /* largeur en % pour s'adapter à tous les écrans */
  min-height: 500px; /*hauteur minimum en pixel*/
  margin: 10px auto; /*marge extérieur haut/bas : 0, gauche/droite : centrer */
  padding: 10px 40px; /*marge intérieure haut/bas : 10px, gauche/droite : 40px */
  border-radius: 20px; /* bordure arrondi */
  box-shadow: 10px 10px 10px rgba(14, 46, 46, 0.795); /*ombre sur la box */
}

.positioning,
.flexbox,
.grid {
  border: 2px solid blueviolet; /* Bordure grosseur du trait, en solide, couleur */
  padding: 10px; /* marge intérieure*/
  margin-top: 20px; /* marge extérieure */
}

/****************** positionning ***************/
.positioning {
  position: relative;
}

#h2positioning {
  margin: 0;
}

#circle {
  height: 60px;
  width: 60px;
  background: blue;
  padding: 20px;
  border-radius: 50%;
  position: absolute; /*relative ou block */
  top: -10px;
  right: 110px;
  box-shadow: 0 2px 12px 5px rgba(14, 46, 46, 0.795);
  z-index: -1;
}

#rectangle {
  height: 60px;
  width: 60px;
  background: green;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%; /* centre le début du rectangle */
  transform: translate(
    -50%,
    -50%
  ); /*fait revenir de la moitié de sa taille sur l'axe des X et Y pour qu'il soit bien centré */
}

/****************** flexbox ********************/

ul {
  display: flex; /** aligne les éléments ul **/
  justify-content: space-around; /* répartition des éléments dans l'espace */
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 0.7rem;
  height: 160px;
  width: 160px;
  background: turquoise;
  /** centrer verticalement et horizontalement */
  display: flex; /* aligne les éléments, ici il n'y en a qu'un */
  align-items: center; /* fonctionne avec display:flex pour aligner l element verticalement */
  justify-content: center; /* centre horizontalement */
}

/**************** grid ***********************/
/* grid organiser en 2 colonnes de 30% et 70% */
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
}
.img {
  text-align: center;
}

/* formulaire organisé en grid */
form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colonne */
  grid-template-rows: 1fr 1fr 1fr; /*3 lignes */
  grid-template-areas: /* emplacement des objets */
    "i1 i2" /* i1 et i2 sont sur la première ligne (i1 colonne 1 et i2 colonne 2)*/
    "ta ta" /* ta est sur la 2eme ligne (sur les 2 colonnes) */
    "bt bt"; /* bt est sur la 3eme ligne (sur les 2 colonnes) */
}

/**/
input,
textarea {
  margin: 5px; /* large extérieure */
  height: 45px; /*hauteur */
  border: 1px solid darkblue; /*bordure 1pixel */
  padding: 10px; /* marge intérieure en haut bas gauche droite */
  border-radius: 5px; /* angle arrondi */
  font-size: 1.1rem; /* taille de la police */
  font-family: "font-1"; /*police */
}

/* l'id firstname correspond à i1 */
#firstname {
  grid-area: i1;
}

/* l'id surname correspond à i2 */
#surname {
  grid-area: i2;
}

/* l objet texarea correspond à ta */
textarea {
  grid-area: ta;
  resize: none; /* on ne peut pas redimensionner la text area */
}

/* l objet input de type submit correspond à bt */
input[type="submit"] {
  grid-area: bt;
  cursor: pointer; /* remplacer la fleche de la souris par un index quand on passe sur le bouton */
  background: beige;
  transition: 0.4s; /* transition en 0,2 seconde pour passer vers les modifications indiquées dans le hover */
}

/* modification du bouton lorsque l'on passe dessus */
input[type="submit"]:hover {
  background: rgb(128, 128, 43); /* couleur du fond */
  color: white; /* couleur du texte */
}

/*************** responsive **********************/

/* on change le grid-container lorsque l'on passe en dessous des 1000 px */
@media screen and (max-width: 1000px) {
  .grid-container {
    display: block;
  }
}

/* on change le form lorsque l'on passe en dessous des 780 px */
@media screen and (max-width: 780px) {
  form {
    display: grid;
    grid-template-columns: 1fr; /* 1 colonne */
    grid-template-rows: 1fr 1fr 1fr 1fr; /*4 lignes */
    grid-template-areas: /* emplacement des objets */
      "i1" /* i1 est sur la première ligne*/
      "i2" /*i2 est sur la deuxième ligne*/
      "ta" /* ta est sur la 3eme ligne*/
      "bt"; /* bt est sur la 4eme ligne*/
  }
}
