.content {
  color: darkblue;
}

.grid {
  /*border: 3px solid darkblue; /* Bordure grosseur du trait, en solide, couleur */
  padding: 30px; /* marge intérieure*/
  margin-top: 20px; /* marge extérieure */
  /*box-shadow: 0 2px 12px 5px rgba(18, 88, 218, 0.795);*/
  background: rgba(238, 238, 252, 0.877);
  box-shadow: 10px 10px 12px -30px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 10px 10px 12px -3px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 10px 10px 12px -3px rgba(0, 0, 0, 0.64);
  /*border-radius: 20px; /* bordure arrondi */
  width: 100%;
  color: darkblue;
}

.grid > ul {
  padding-left: 20px;
}
.grid > ul > li {
  padding-top: 10px;
}
